.promotion-choices{
    height: 12.5%;
}

.promotion-choices .piece{
    height: 100%;
    width: 25%;
    border: 1px solid var(--dark-tile);
}

.promotion-choices .piece:hover{
    transform: scale(1.05);
    box-shadow: 0 0 0 5px var(--dark-tile) inset;
}

.promotion-choices :is(.wq,.bq){
    left: 0%;
}

.promotion-choices :is(.wr,.br){
    left: 25%;
}

.promotion-choices :is(.wn,.bn){
    left: 50%;
}

.promotion-choices :is(.wb,.bb){
    left: 75%;
}

